@font-face {
  font-family: 'ApercuMono';
  src: url('../fonts/apercu-mono-regular-pro.ttf');
}

@font-face {
  font-family: 'Bigilla';
  src: url('../fonts/Bigilla-Bold.otf');
}

:root {
  --blue-500: rgba(3, 3, 190);
  --orange-500: rgba(247, 147, 31);

  --primary-font: 'Bigilla', sans-serif;
  --secondary-font: 'ApercuMono', sans-serif;

  --max-width: 1500px;
}

* {
  margin: 0;
}

body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;

  background: var(--blue-500);
  color: var(--orange-500);

  text-transform: uppercase;
}

.container {
  width: --var(--max-width);
  margin: auto;
  padding: 1rem;

  overflow: hidden;
}

/* Utils */

.display-text {
  text-align: center;
}

/* Media Queries */

@media screen and (min-width: 20em) {
  /* Styles for mobile devices */
  .display-text {
    font-size: 6rem;
  }
}

@media screen and (min-width: 22em) {
  /* Styles for mobile devices */
  .display-text {
    font-size: 7.5rem;
  }
}

@media screen and (min-width: 48em) {
  /* Styles for medium devices such as tablets */
  .display-text {
    font-size: 14rem;
  }
}

@media screen and (min-width: 64em) {
  /* Styles for large devices such as laptops */
  .display-text {
    font-size: 20rem;
  }
}

@media screen and (min-width: 80em) {
  /* Styles for the largest devices (1024px and up) */
  .display-text {
    font-size: 28.5rem;
  }
}
